body{
    background-color: red;
}

.TitleHeader{
    font-size: 80px;
    text-align: center;
    color: #7ED4E6;
}
.ButtonBox{
    text-align: center;
}
.ButtonBox{
    text-align: center;
}
.©Copyright{
    font-size: 30px;
    color: #7ED4E6;
}