body{
    background-color: red;
}

.TitleHeader{
    font-size: 80px;
    text-align: center;
    color: #7ED4E6;
}
.ButtonBox{
    text-align: center;
}
.TobyButton{
    text-align: center;
    background-color: rgb(117, 0, 0);
    color: #7ED4E6;
    border-radius:10px;
    border:none;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
    margin: 1%;
}
.TobyButton:hover {
    background-color: rgb(226, 0, 0);
    transition: 0.1s;
}
.TobyButton:active {
    background-color: black;
}

.Login{
    text-align: center;
    background-color: rgb(117, 0, 0);
    color: #7ED4E6;
    border-radius:10px;
    border:none;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
    margin: 1%;
}
.Login:hover {
    background-color: rgb(226, 0, 0);
    transition: 0.1s;
}
.Login:active {
    background-color: black;
}

.Sign-up{
    text-align: center;
    background-color: rgb(117, 0, 0);
    color: #7ED4E6;
    border-radius:10px;
    border:none;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
    margin: 1%;
}
.Sign-up:hover {
    background-color: rgb(226, 0, 0);
    transition: 0.1s;
}
.Sign-up:active {
    background-color: black;
}

.©Copyright{
    font-size: 30px;
    color: #7ED4E6;
    position: absolute;
    left:5%;
    top: 80%;
}